<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="header">
        <a href="/">
            <img src="../static/css/logo.png" alt="Logo" class="logo-image">
        </a>
        <nav class="navbar">
            <a href="/">Flashcards</a>
            <a href="/admin">Admin</a>
        </nav>
    </header>


    {% if rows == [] or rows %}
        <form class="upload-form" action="/admin/upload_file" method="post" enctype="multipart/form-data">
            <h4>Upload CSV File</h4>
            <input type="file" name="file" accept=".xlsx" required>
            <button type="submit" onclick="uploadFile()">Upload</button>
        </form>
        <h4>Delete / Export Data</h4>
        <div class="delete-export-container">
            <form class="delete-form" action="/delete_data_from_table" method="post">
                <button type="submit" onclick="deleteData()">Delete</button>
            </form>
            <form class="export-form" action="/admin/export_table" method="post">
                <button type="submit" onclick="exportTable()">Export</button>
            </form>
        </div>
        <h4>Ranks</h4>
        <canvas id="piechart"></canvas>
        <h4>Vocabulary</h4>
        <div class="scrollable-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Spanish</th>
                        <th scope="col">German</th>
                        <th scope="col">Type</th>
                        <th scope="col">Details</th>
                        <th scope="col">Last Known</th>
                        <th scope="col">Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1].spanish }}</td>
                            <td>{{ row[1].german }}</td>
                            <td>{{ row[1].type }}</td>
                            {% if row[1].details != None  %}
                                <td>{{ row[1].details }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if row[1].lastknown != None  %}
                                <td>{{ row[1].lastknown }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{ row[1].rank }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <form class="create-form" action="/create_table" method="post">
            <h4>Create Table{{ rows }}</h4>
            <button type="submit" onclick="createTable()">Create</button>
        </form>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = JSON.parse('{{ rank_counts_json | tojson }}');
            console.log(data)
            var ctx = document.getElementById('piechart').getContext('2d');
            var labels = data.map((item, index) => "Rank " + (index + 1).toString());
            console.log(labels)
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data.map(item => item[1]),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(75, 192, 192, 0.7)',
                            'rgba(153, 102, 255, 0.7)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                }
            });
        });
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
